.global-navbar-container {
	width: 100%;
}

.global-navbar {
	display: flex;
	flex-direction: row;
	list-style: none;
}

.navbar-item {
	padding: 5px 10px;
}

/* Footer */
.global-footer {
	margin: 20px 10px;
}
