.main-welcome-page {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
}

.main-welcome-text {
	display: flex;
	flex-direction: column;
    justify-content: center;
	align-items: center;
}