<nav class="global-navbar-container">
    <ul class="global-navbar">
        <li class="navbar-item">
            <a href="/">Inicio</a>
        </li>
        <li class="navbar-item">
            <a href="/about-me">Sobre Mí</a>
        </li>
    </ul>
</nav>